Add and install Library

In [7]:
!pip install chart_studio
!pip install gdown
!pip install --upgrade gdown

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: chart_studio in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from chart_studio) (2.23.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from chart_studio) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from chart_studio) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from chart_studio) (1.3.3)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->chart_studio) (8.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->chart_studio) (2.10)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.7.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Collecting gdown
  Downloading gdown-4.5.1.tar.gz (14 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)
Building wheels for collected packages: gdown
  Building wheel for gdown (PEP 517) ... done
  Created wheel for gdown: filename=gdown-4.5.1-py3-none-any.whl size=14951 sha256=123a9f741554af14d15e371992f6aec7f766ff8224ae0258b131a5c96ea122df
  Stored in directory: /root/.cache/pip/wheels/3d/ec/b0/a96d1d126183f98570a785e6bf8789fca559853a9260e928e1
Successfully built gdown
Installing collected packages: gdown
  Attempting uninstall: gdown
    Found existing installation: gdown 4.4.0
    Uninstalling gdown-4.4.0:
      Successfully uninstalled gdown-4.4.0
Successfully installed gdown-4.5.1

In [10]:
import pandas as pd
import numpy as np
import zipfile

%matplotlib inline
import matplotlib.pyplot as plt

import chart_studio.plotly as py
import plotly.offline as pyoff
import plotly.graph_objs as go

import warnings
warnings.filterwarnings("ignore")

import gdown

Datasets

In [13]:
url = "https://drive.google.com/uc?id=1yLpcagzTYJ1eCOsWKuhYVDWWNuKPOUhm"
output = "Grocery Data.zip"
gdown.download(url, output, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1yLpcagzTYJ1eCOsWKuhYVDWWNuKPOUhm
To: /content/Grocery Data.zip
100%|██████████| 185k/185k [00:00<00:00, 29.4MB/s]

'Grocery Data.zip'

In [14]:
zip_ref = zipfile.ZipFile("/content/Grocery Data.zip")
zip_ref.extractall("/content/")
zip_ref.close()
costs = pd.read_csv('/content/Costs.csv', delimiter=';')
grocery = pd.read_csv('/content/grocery_timestamp.csv', delimiter=';')

In [19]:
costs.head(10)

                  product  demanda  price unit_cost  order_cost
0  air fresheners candles       39  12,25     10,04          28
1             asian foods      245  22,95     20,65           9
2        baby accessories       13  28,92     22,27          21
3     baby bath body care       14  24,99     20,99           5
4       baby food formula      505  19,98     15,58           4
5         bakery desserts       56  15,99     13,91          61
6      baking ingredients      507  10,99      9,12           4
7   baking supplies decor       37   10,8      9,29          48
8                  beauty       18  12,99     10,91           7
9           beers coolers       63  67,49     53,99          10

In [21]:
grocery.head(10)

,order_id,pay_method,order_hour_of_day,arrival_ timestamp,pickup_timestamp,start_service_time,finish_service_time,days_since_prior_order,air fresheners candles,asian foods,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
0,930878.0,2.0,0.0,0:00:22,0:07:10,0:07:10,0:09:43,17.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1494544.0,2.0,0.0,0:02:45,0:07:41,0:07:41,0:10:25,11.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3275833.0,1.0,0.0,0:03:17,0:23:22,0:23:22,0:26:11,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,57650.0,2.0,0.0,0:03:33,0:16:29,0:16:29,0:22:11,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2002409.0,1.0,0.0,0:03:59,0:19:11,0:19:11,0:24:25,10.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,60770.0,2.0,0.0,0:04:29,0:10:13,0:10:13,0:16:38,30.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,464722.0,3.0,0.0,0:05:49,0:30:13,0:30:13,0:35:07,26.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0
7,2852877.0,1.0,0.0,0:08:59,0:30:22,0:30:22,0:33:55,30.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2256545.0,2.0,0.0,0:15:42,0:28:10,0:28:10,0:34:37,30.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,2201462.0,3.0,0.0,0:17:00,0:25:21,0:25:21,0:32:24,7.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

Sorting Order Product

In [17]:
#Data barang yang dibeli
order_products = grocery.iloc[:, 8:]
order_products.head(10)

,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

Penyesuaian Dataset Costs

In [24]:
#Datasets costnya masih dalam bentuk string dan ada "," ditengahnya, perlu dibersihkan dan diubah menjadi numeric
costs = costs.replace(',','', regex=True)
costs['demanda'] = pd.to_numeric(costs['demanda'],errors='coerce')
costs['price'] = pd.to_numeric(costs['price'],errors='coerce')
costs['unit_cost'] = pd.to_numeric(costs['unit_cost'],errors='coerce')
costs['order_cost'] = pd.to_numeric(costs['order_cost'],errors='coerce')
costs.head(10)

                  product  demanda  price  unit_cost  order_cost
0  air fresheners candles       39   1225       1004          28
1             asian foods      245   2295       2065           9
2        baby accessories       13   2892       2227          21
3     baby bath body care       14   2499       2099           5
4       baby food formula      505   1998       1558           4
5         bakery desserts       56   1599       1391          61
6      baking ingredients      507   1099        912           4
7   baking supplies decor       37    108        929          48
8                  beauty       18   1299       1091           7
9           beers coolers       63   6749       5399          10

In [25]:
#Column Price diubah menjadi float 64 agar mudah digunakan bersamaan dengan order_product
price = costs.price.astype(np.float64)
price.head(10)

0    1225.0
1    2295.0
2    2892.0
3    2499.0
4    1998.0
5    1599.0
6    1099.0
7     108.0
8    1299.0
9    6749.0
Name: price, dtype: float64

In [26]:
#Mencari tahu jumlah total penjualan tiap customer
sales_sum = np.dot(order_products, price)

#Membuat dataframe total dan menggabungkan dengan data grocery
sales = pd.DataFrame(sales_sum, columns=['sales'])
grocery_order = grocery.iloc[:, :8].join(sales)
grocery_order.head(10)

,order_id,pay_method,order_hour_of_day,arrival_ timestamp,pickup_timestamp,start_service_time,finish_service_time,days_since_prior_order,sales
0,930878.0,2.0,0.0,0:00:22,0:07:10,0:07:10,0:09:43,17.0,3509.0
1,1494544.0,2.0,0.0,0:02:45,0:07:41,0:07:41,0:10:25,11.0,1692.0
2,3275833.0,1.0,0.0,0:03:17,0:23:22,0:23:22,0:26:11,3.0,19823.0
3,57650.0,2.0,0.0,0:03:33,0:16:29,0:16:29,0:22:11,3.0,6924.0
4,2002409.0,1.0,0.0,0:03:59,0:19:11,0:19:11,0:24:25,10.0,9881.0
5,60770.0,2.0,0.0,0:04:29,0:10:13,0:10:13,0:16:38,30.0,4687.0
6,464722.0,3.0,0.0,0:05:49,0:30:13,0:30:13,0:35:07,26.0,18020.0
7,2852877.0,1.0,0.0,0:08:59,0:30:22,0:30:22,0:33:55,30.0,12885.0
8,2256545.0,2.0,0.0,0:15:42,0:28:10,0:28:10,0:34:37,30.0,10368.0
9,2201462.0,3.0,0.0,0:17:00,0:25:21,0:25:21,0:32:24,7.0,6958.0

In [28]:
#Mencari total sales tiap Jamnya 
df_order_sales = grocery_order.loc[:, ["order_hour_of_day", "sales"]]
df_order_sales = df_order_sales.groupby('order_hour_of_day').sales.sum().reset_index()
df_order_sales.order_hour_of_day = df_order_sales.order_hour_of_day.astype(int).astype(str)
df_order_sales.head(10)

  order_hour_of_day      sales
0                 0   247734.0
1                 1   192402.0
2                 2    76073.0
3                 3    22025.0
4                 4    84351.0
5                 5   174232.0
6                 6   325258.0
7                 7   904599.0
8                 8  1825249.0
9                 9  2295887.0

Plot Data

In [29]:
#plot Hour sales
plot_data = [
    go.Scatter(
        x=df_order_sales['order_hour_of_day'],
        y=df_order_sales['sales'],
    )
]
plot_layout = go.Layout(
        title='Hour Sales'
    )
fig = go.Figure(data=plot_data, layout=plot_layout)
pyoff.iplot(fig)

In [30]:
df_diff = df_order_sales.copy()
#add previous sales to the next row
df_diff['prev_sales'] = df_diff['sales'].shift(1)

#drop the null values and calculate the difference
df_diff = df_diff.dropna()

df_diff['diff'] = (df_diff['sales'] - df_diff['prev_sales'])

df_diff.head(10)

   order_hour_of_day      sales  prev_sales      diff
1                  1   192402.0    247734.0  -55332.0
2                  2    76073.0    192402.0 -116329.0
3                  3    22025.0     76073.0  -54048.0
4                  4    84351.0     22025.0   62326.0
5                  5   174232.0     84351.0   89881.0
6                  6   325258.0    174232.0  151026.0
7                  7   904599.0    325258.0  579341.0
8                  8  1825249.0    904599.0  920650.0
9                  9  2295887.0   1825249.0  470638.0
10                10  2626499.0   2295887.0  330612.0

In [31]:
#plot sales diff
plot_data = [
    go.Scatter(
        x=df_diff['order_hour_of_day'],
        y=df_diff['diff'],
    )
]
plot_layout = go.Layout(
        title='Hour Sales Diff'
    )
fig = go.Figure(data=plot_data, layout=plot_layout)
pyoff.iplot(fig)

In [ ]:
#create dataframe for transformation from time series to supervised
df_supervised = df_diff.drop(['prev_sales'],axis=1)
#adding lags
for inc in range(1,6):
    field_name = 'lag_' + str(inc)
    df_supervised[field_name] = df_supervised['diff'].shift(inc)
    
    #drop null values
df_supervised = df_supervised.dropna().reset_index(drop=True)
df_supervised.head(10)

,order_hour_of_day,sales,diff,lag_1,lag_2,lag_3,lag_4,lag_5,lag_6,lag_7,lag_8,lag_9,lag_10,lag_11
0,12,2707251.0,211087.0,-130335.0,330612.0,470638.0,920650.0,579341.0,151026.0,89881.0,62326.0,-54048.0,-116329.0,-55332.0
1,13,2931490.0,224239.0,211087.0,-130335.0,330612.0,470638.0,920650.0,579341.0,151026.0,89881.0,62326.0,-54048.0,-116329.0
2,14,3034734.0,103244.0,224239.0,211087.0,-130335.0,330612.0,470638.0,920650.0,579341.0,151026.0,89881.0,62326.0,-54048.0
3,15,2680789.0,-353945.0,103244.0,224239.0,211087.0,-130335.0,330612.0,470638.0,920650.0,579341.0,151026.0,89881.0,62326.0
4,16,2664866.0,-15923.0,-353945.0,103244.0,224239.0,211087.0,-130335.0,330612.0,470638.0,920650.0,579341.0,151026.0,89881.0
5,17,2308315.0,-356551.0,-15923.0,-353945.0,103244.0,224239.0,211087.0,-130335.0,330612.0,470638.0,920650.0,579341.0,151026.0
6,18,2106925.0,-201390.0,-356551.0,-15923.0,-353945.0,103244.0,224239.0,211087.0,-130335.0,330612.0,470638.0,920650.0,579341.0
7,19,1549789.0,-557136.0,-201390.0,-356551.0,-15923.0,-353945.0,103244.0,224239.0,211087.0,-130335.0,330612.0,470638.0,920650.0
8,20,981956.0,-567833.0,-557136.0,-201390.0,-356551.0,-15923.0,-353945.0,103244.0,224239.0,211087.0,-130335.0,330612.0,470638.0
9,21,843171.0,-138785.0,-567833.0,-557136.0,-201390.0,-356551.0,-15923.0,-353945.0,103244.0,224239.0,211087.0,-130335.0,330612.0